* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--tg-theme-bg-color);
  color: var(--tg-theme-text-color);
}

.container {
  display: flex;
  flex-direction: column;
}

body {
  height: 100hv;
}

#userinfo {
  display: flex;
  justify-content: center;
  height: 20em;
}

#username {
  display: block;
  font-size: 2em;
}

#game_button {
  background-color: #cbd3f2;
  margin-top: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  height: 50px;
  border-radius: 16px;
  border: solid black 1px;
  box-shadow: 0px 10px 10px 2px;
  font-size: 1.4em;
  font-weight: 600;
  color: #606062;
}

#game_button:hover {
  box-shadow: 0px 5px 5px 0px;
  background-color: #a7b7f6;
  color: black;
}

/* game */

#gameArea {
  width: 100%;
  height: 40em;
  border: solid black 2px;
  border-radius: 12px;
  border: 1px solid black;
  position: relative;
  overflow: hidden;
  touch-action: none; /* Отключение браузерного поведения по умолчанию для сенсорных событий */
}
#shark {
  width: 50px;
  height: 30px;
  /* background-image: url("shark.png"); */
  background-color: gray;
  position: absolute;
  bottom: 0;
  cursor: grab;
  user-select: none; /* Отключение выделения текста при перетаскивании */
}
.coin,
.jellyfish {
  width: 30px;
  height: 30px;
  position: absolute;
}
.coin {
  /* background-image: url("coin.png"); */
  background-color: gold;
}
.jellyfish {
  /* background-image: url("jellyfish.png"); */
  background-color: pink;
}
#timer {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 18px;
  font-weight: bold;
}

#Game_over {
  margin: 2.3%;
  margin-top: 20%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 70%;
  width: 90%;
  background-color: black;
  border-radius: 30px;
  color: white;
  z-index: 2;
}
